body{
    margin: 0;
}

/* Nav Style Start */
nav>img{
    height: 100px;
    float: left;
}

nav{
    text-align: center;
    background-image: linear-gradient(to bottom right, darkblue, blue, lightblue);
    height: 5rem;
}

nav>ul>li{
    display: inline;
    font-size: 45pt;
    padding: 1rem;
    color: white;
    text-shadow: 3px 3px black;
}

nav>ul>li>a{
    text-decoration: none;
    color: white;
}

nav>ul>li>a:hover{
    font-size: 52pt;
    color: lightblue;
}
/* Nav Style End */

#hero_image{
    height: 15rem;
    background-image: url(/image/wall.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Content Styles Start */
#content>a>img{
    float: left;
    padding: 1rem;
}

#content{
    background-image: linear-gradient(to bottom right, darkblue,blue,lightblue);
    color: white;
    width: 100%;
}

#content>p{
    padding: 1rem;
    text-shadow: 2px black;
}
/* Content Styles End */

iframe{
    height: 40rem;
    width: 70rem;
    margin-top: 3rem;
}

/* Form Style Start */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px; 
  border: 1px solid lightblue;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical 
}

input[type=submit] {
  background-color: darkblue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px black;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: lightblue;
  color: black;
}

.container {
  border-radius: 5px;
  background-image: linear-gradient(to bottom left, darkblue, blue, lightblue);
  padding: 20px;
  margin-top: 3rem;
  color: white;
}
/* Form Style End */

/* Footer Styles Start */
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(to bottom right, darkblue, blue, lightblue);
    height: 5rem;
    text-align: center;
}

footer>ul>li{
    display: inline;
    padding: 3rem;
    color: white;
}

footer>ul>li>a{
    text-decoration: none;
    color: white;
}
/* Footer Styles End */